/* DEBUG:  */
#fake {
  background-color: orange;
  border: 5px solid blue;
}

/*  GENERAL */
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

  /* General: BUTTON *  */
a,
a:focus,
a:hover,
a:visited,
.btn-link,
.btn-link:focus,
.btn-link:hover,
.btn-link:visited {
  color: inherit;
  text-decoration: none;
}


/* UTILITIES  */
.blue {
  background: #0248ff;
}

.darkblue {
  background: #0069ff;
}

.gray {
  background: #f3f5f9;
}

.white {
  background: #fff;
}

.relative {
  position: relative;
}


/* HEADER */
header .container img {
  height: 65px;   /* all elements inside the header is max height max 65px */
}

header .container [class*="col-"]:not(:first-child) {
  padding: 16px 0;
}

header .icon {
  position: absolute;
  left: 100%;
  top: 13%;
  transform: translateX(-50%);
  font-size: 250%;
}

header .btn.btn-default {
  border-color: #0248ff;
  color: #0248ff;
}


/* JUMBOTRON */
#jumbotron {
  background-image: url('../assets/bg-banner-home.jpg');
  background-size: cover;
  color: #fff;
  padding: 30px 0;
}

#jumbotron .col-lg-7 p {
  opacity: 0.7;
}

  /* Jumbotron: FORM */
#jumbotron .form {
  padding: 15px;
  border-radius: 7px;
  color: #000;
}

#jumbotron .form * {
  margin-bottom: 10px;
}

#jumbotron .form h3:nth-child(2){
  color: #0248ff;
}

#jumbotron .form button {
  width: 100%;
}

#jumbotron .form button img {
  position: absolute;
  left: 12px;
  height: 20px;
}

#jumbotron .form a {
  text-decoration: underline;
  color: #0248ff;
}


/* INNOVATIVE-BUSINESS */
#innovative-business li > img {
  height: 78px;
}

#innovative-business li:last-child > img {
  height: 35px;
}


/* DEPLOY */
#deploy .row ul {
  display: inline-block;
  padding: 0 10px;
  border-left: 2px solid gray;
  line-height: 200%;
  color: gray;
  font-size: 20px;
}

#deploy .row {
  padding: 25px 0;
}

#deploy .row:first-child p {
  padding: 0 15%;
}

#deploy-contents-row {
  margin: 0 auto;
  width: 90%;
}

#deploy-contents-row> * {
  padding: 10px 0;
}

#deploy-contents-row .col-lg-6 {
  margin-bottom: 25px;
  font-size: 14px;

}

#deploy-contents-row .col-lg-6 p {
  color: gray;
}


/* DESIGNED */
#designed {
  padding: 15px 0;
}



/* RESPONSIVE */
@media screen and (max-width: 991px) {
  #deploy .row .col-lg-4 {
    text-align: left;
  }

  #deploy-contents-row {
    width: 100%;
  }
}
