/*  GENERAL */
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

  /* General: BUTTON *  */
a,
a:focus,
a:hover,
a:visited,
.btn-link,
.btn-link:focus,
.btn-link:hover,
.btn-link:visited {
  color: inherit;
  text-decoration: none;
}


/* UTILITIES  */
.blue {
  background: #093a9c;
}

.darkblue {
  background: #000066;
}

.gray {
  background: #f3f5f9;
}

.white {
  background: #fff;
}

.text-white {
  color: #fff;
}

.relative {
  position: relative;
}


/* HEADER */
header .container [class*="col-"] {

  padding: 16px 0;  /* all elements inside the header is max height max 28px */
}

header .container img {
  height: 28px;
}

header .icon {
  position: absolute;
  left: 100%;
  top: 14%;
  transform: translateX(-50%);
  font-size: 200%;
}

header .btn.btn-default {
  border-color: #0248ff;
  color: #0248ff;
}

header .btn:hover {
  color: #0248ff;
}


/* JUMBOTRON */
#jumbotron {
  background-image: url('../assets/bg-banner-home.jpg');
  background-size: cover;
  padding: 30px 0;
}

#jumbotron .col-lg-7 h1 {
  font-size: 45px;
  padding-right: 15%;
}


#jumbotron .col-lg-7 p {
  font-size: 20px;
  opacity: 0.8;
}

  /* Jumbotron: FORM */
#jumbotron .form {
  padding: 15px;
  border-radius: 7px;
  color: #000;
}

#jumbotron .form * {
  margin-bottom: 10px;
}

#jumbotron .form h3 {
  font-weight: 800;
}

#jumbotron .form h3:nth-child(2){
  margin: 15px 0;
  color: #0248ff;
}

#jumbotron .form button {
  width: 100%;
}

#jumbotron .form button.btn-primary {
  border: #1E90FF;
  background: #1E90FF;
}

#jumbotron .form button img {
  position: absolute;
  left: 12px;
  height: 20px;
}

#jumbotron .form button.btn.btn-default {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

#jumbotron .form p {
  padding-top: 5px;
  font-size: 10px;
}

#jumbotron .form a {
  text-decoration: underline;
  color: #0248ff;
}


/* INNOVATIVE-BUSINESS */
#innovative-business h2 {
  opacity: 0.5;
}

#innovative-business {
  padding: 30px 0;
}

#innovative-business a {
  color: blue;
}

#innovative-business a::after {
  content: '\003E';
  padding-left: 10px;
}


/* DEPLOY */
#deploy .row ul {
  display: inline-block;
  padding: 0 10px;
  border-left: 2px solid gray;
  line-height: 200%;
  color: gray;
  font-size: 20px;
}

#deploy .row {
  padding: 25px 0;
}

#deploy .row:first-child p {
  padding: 0 15%;
}

#deploy-contents-row {
  margin: 0 auto;
  width: 90%;
}

#deploy-contents-row> * {
  padding: 10px 0;
}

#deploy-contents-row .col-lg-6 {
  margin-bottom: 25px;
  font-size: 14px;

}

#deploy-contents-row .col-lg-6 p {
  color: gray;
}


/* DESIGNED */
#designed {
  padding: 35px 0;
}


/* FEATURES */
#feature {
  padding: 35px 0;
}

#feature .row {
  padding-top: 25px;
}

#feature h4 {
  padding-top: 10px;
  font-weight: 800;
}

#feature a {
  color: blue;
}

#feature a i {
  padding-left: 5px;
  font-size: 80%;
}



/* SERVICE */
#service {
  padding: 35px 0;
}

#service td:nth-child(2) {
  color: gray;
}

#service td:last-child {
  text-align: right;
  padding right: 10px;
  color: blue;
}

#service td:last-child::after {
  content: '\003E';
  padding-left: 10px;
}




/* DEVELOPMENTS */
#developments {
  padding: 35px 0;
}


/* GET-STARTED*/
#get-started {
  padding: 35px 0;
}

#get-started button {
  margin: 15px;
  color: blue;
}


/* FOOTER */
footer {
  font-size: 12px;
  color: gray;
  padding: 25px 0;
}

footer .col-lg-4 * {
  margin-bottom: 5px;
}

footer .list-inline {
  font-size: 150%;
}

footer .list-unstyled li {
  line-height: 200%;
}


/* HELP */
#help {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 25px;
  font-size: 12px;
}

#help .content {
  display: inline-block;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 200px;
  height: 45px;
}

#help .corner {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background: #fff;
}

#help .shark {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  padding: 5px 0;
  width: 45px;
  height: 45px;
  background: lightblue;
}

#help .shark img {
  display: inline-block;
  height: 35px;
}

#help button.shark:focus {
  outline: 0;
}


#help .circle {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 5px solid #fff;
  background: red;
  line-height: 200%;
}



/* RESPONSIVE */
@media screen and (min-width: 992px) {
  #innovative-business .row {
    margin-bottom: 12px;
  }

  #innovative-business .row img:not(#splunk-logo) {
    padding-right: 5px;
    height: 78px;
  }

  #splunk-logo {
    height: 35px;
  }
}


@media screen and (max-width: 991px) {

  /* INNOVATIVE-BUSINESS */
  #innovative-business .row {
    margin: 35px auto;
    width: 560px;
  }


  #innovative-business .row img {
    padding: 0 35px;
    width: 277px;
    height: auto;
  }


  /* DEPLOY */
  #deploy .row .col-lg-4 {
    text-align: left;
    padding-left: 30px;
  }

  #deploy-contents-row {
    width: 100%;
  }

  /* FOOTER */
  footer {
    padding-bottom: 55px;
  }


  /* HELP */
  #help {
    left: 25px;
  }


}
