/*  GENERAL */
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

  /* General: LINK & BUTTON *  */
a,
a:focus,
a:hover,
a:visited,
.btn-link,
.btn-link:focus,
.btn-link:hover,
.btn-link:visited {
  color: inherit;
  text-decoration: none;
}


/* UTILITIES  */
.blue {
  background: #093a9c;
}

.darkblue {
  background: #000066;
}

.gray {
  background: #f3f5f9;
}

.white {
  background: #fff;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: gray;
}

.padding-top-bottom-35 {
  padding: 35px 0;
}

.relative {
  position: relative;
}

  /* Utilities: NAV-ARROW */
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background: inherit;
  height: 100%;
  width: 10%;
  border: 0;
  font-size: 300%;
}

.nav-arrow i {
  position: absolute;
  transform: translate(-50%, 10%);
}

.nav-arrow:focus {
  outline: 0;
}

.nav-arrow.left {
  left: -5%;
  color: gray;
}

.nav-arrow.right {
  left: 105%;
  color: #000;
}

  /* Utilities: NAV-RADIO */
.regular-radio {
    display: none;
}

.regular-radio + label {
    -webkit-appearance: none;
    background-color: inherit;
    border: 2px solid blue;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
}

.regular-radio:checked + label {
    background: blue;
    border: 2px solid blue;
}


/* HEADER */
header .container [class*="col-"] {
  padding: 16px 0;
}

header .container img {
  height: 28px;
}

header .icon {
  position: absolute;
  left: 98%;
  top: 14%;
  transform: translateX(-50%);
  font-size: 200%;
}

header .btn.btn-default {
  border-color: #0248ff;
  color: #0248ff;
}

header .btn:hover {
  color: #0248ff;
}


/* JUMBOTRON */
#jumbotron {
  background-image: url('../assets/bg-banner-home.jpg');
  background-size: cover;
  padding: 30px 0;
}

#jumbotron .col-lg-7 h1 {
  font-size: 45px;
  padding-right: 15%;
}


#jumbotron .col-lg-7 p {
  font-size: 20px;
  opacity: 0.8;
}

  /* Jumbotron: FORM */
#jumbotron .form {
  padding: 15px;
  border-radius: 7px;
  color: #000;
}

#jumbotron .form * {
  margin-bottom: 10px;
}

#jumbotron .form h3 {
  font-weight: 800;
}

#jumbotron .form h3:nth-child(2){
  margin: 15px 0;
  color: #0248ff;
}

#jumbotron .form button {
  width: 100%;
}

#jumbotron .form button.btn-primary {
  border: #1E90FF;
  background: #1E90FF;
}

#jumbotron .form button img {
  position: absolute;
  left: 12px;
  height: 20px;
}

#jumbotron .form button.btn.btn-default {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

#jumbotron .form p {
  padding-top: 5px;
  font-size: 10px;
}

#jumbotron .form a {
  text-decoration: underline;
  color: #0248ff;
}


/* INNOVATIVE-BUSINESS */
#innovative-business h2 {
  opacity: 0.5;
}

#innovative-business {
  padding: 30px 0;
}
#innovative-business .row li > img {
  max-width: 100%;
}

#innovative-business a {
  color: blue;
}

#innovative-business a::after {
  content: '\003E';
  padding-left: 10px;
}


/* DEPLOY */
#deploy .row ul {
  display: inline-block;
  padding: 0 10px;
  border-left: 2px solid gray;
  line-height: 200%;
  color: gray;
  font-size: 20px;
}

#deploy .row {
  padding: 25px 0;
}

#deploy .row:first-child p {
  padding: 0 15%;
}

#deploy-contents-row {
  margin: 0 auto;
  width: 90%;
}

#deploy-contents-row> * {
  padding: 10px 0;
}

#deploy-contents-row .col-lg-6 {
  margin-bottom: 25px;
  font-size: 14px;

}

#deploy-contents-row .col-lg-6 p {
  color: gray;
}


/* DESIGNED */
#designed .header-section p {
  margin: 25px 0 55px 0;
  color: gray;
}

#designed .row:last-child h4 {
  margin-bottom: 30px;
  padding: 15px 0;
  font-weight: 600;
}


/* FEATURES */
#feature .row {
  padding-top: 25px;
}

#feature .row .col-lg-4 {
  padding-bottom: 45px;
}

#feature h4 {
  padding-top: 10px;
  font-weight: 800;
}

#feature a {
  color: blue;
}

#feature a i {
  padding-left: 5px;
  font-size: 80%;
}


/* SERVICE */
#service h2 {
  margin: auto;
  padding-bottom: 15px;
  width: 70%;
}

#service tbody tr:first-child {
  border-top: none;
}

#service td:nth-child(2) {
  color: gray;
}

#service td:last-child {
  text-align: right;
  padding right: 10px;
  color: blue;
}

#service td:last-child a::after {
  padding-left: 10px;
  content: '\003E';
}


/* DEVELOPMENTS */
#developments .row:first-child {
  margin-bottom: 45px;
}

.core-content {
  padding: 40px 0;
}

.core-content img {
  margin: auto;
  padding: 15px 0 25px;
}

.core-content > p {
  margin: auto;
  padding: 15px 0;
  width: 80%;
  font-size: 20px;
  line-height: 150%;
}

.core-content .signature {
  margin: 5px 0;
  color: #000;
}

.core-content .signature p {
  margin-bottom: 0;
}

.core-content .signature p:first-child {
  font-weight: 800;
}

.core-content a {
  display: inline-block;
  padding-top: 20px;
  color: #0248ff;
}

.core-content a::after {
  padding-left: 10px;
  content: '\003E';
  font-size: 120%;
  vertical-align: -1px;
}

#developments .row:last-child {
  padding-top: 35px;
}



/* GET-STARTED*/
#get-started button {
  margin: 15px;
  color: #0248ff;
}


/* FOOTER */
footer {
  font-size: 14px;
  color: gray;
  padding: 25px 0;
}

footer .logo {
  margin-bottom: 5px;
}

footer .col-lg-4 * {
  margin-bottom: 5px;
}

footer .list-inline {
  font-size: 150%;
}

footer .list-unstyled li {
  line-height: 200%;
}


/* HELP */
#help {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 25px;
  font-size: 12px;
}

#help .content {
  display: inline-block;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 200px;
  height: 45px;
}

#help .corner {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background: #fff;
}

#help .shark {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  padding: 5px 0;
  width: 45px;
  height: 45px;
  background: lightblue;
}

#help .shark img {
  display: inline-block;
  height: 35px;
}

#help button.shark:focus {
  outline: 0;
}

#help .circle {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 5px solid #fff;
  background: red;
  line-height: 200%;
}



/* RESPONSIVE */
@media screen and (max-width: 1199px) {
  footer .col-lg-6 > .col-lg-3 {
    padding-left: 0;
  }
}

@media screen and (min-width: 992px) {
  #innovative-business .row {
    margin-bottom: 12px;
  }

  #innovative-business .row li {
    max-width: calc((100% / 6) - 5px);
    vertical-align: middle;
  }
}


@media screen and (max-width: 991px) {
  /* INNOVATIVE-BUSINESS */
  #innovative-business .row {
    margin: 35px auto;
    max-width: 560px;
  }


  #innovative-business .row li {
    width: calc((100% / 2) - 40px);
    vertical-align: middle;
    margin: 10px;
  }

  #innovative-business .row li:nth-child(n + 5) {
    margin-top: 20px;
  }

  /* DEPLOY */
  #deploy .row .col-lg-4 {
    text-align: left;
    padding-left: 30px;
  }

  #deploy-contents-row {
    width: 100%;
  }

  /* FOOTER */
  footer {
    padding-bottom: 55px;
  }

  /* HELP */
  #help {
    left: 25px;
  }
}


@media screen and (max-width: 420px) {
  #service .table tbody {
    font-size: 12px;
    }
  }
}
